<div id="shortcuts-panel">
  <div class="shortcuts-modal" role="dialog" aria-label="快捷键帮助">
    <h3>键盘快捷键</h3>
    <div class="kbd-row"><span>全局搜索</span><span><kbd>Ctrl</kbd>+<kbd>K</kbd></span></div>
    <div class="kbd-row"><span>快速搜索</span><span><kbd>/</kbd></span></div>
    <div class="kbd-row"><span>暗色模式</span><span><kbd>Ctrl</kbd>+<kbd>D</kbd></span></div>
    <div class="kbd-row"><span>回到顶部</span><span><kbd>Ctrl</kbd>+<kbd>↑</kbd></span></div>
    <div class="kbd-row"><span>关闭面板</span><span><kbd>Esc</kbd></span></div>
    <div class="kbd-row"><span>帮助</span><span><kbd>?</kbd></span></div>
  </div>
</div>
